{% extends 'index.html' %} {% block head %} {% endblock %} {% block body %}
<div class="p-5">
  <div class="container text-center p-5" style="background-color: #0b9492">
    <h2 class="text-white p-5" style="font-family: Noto Serif; font-size: 24px">
      IMAGE CLASSIFICATION OF <br />
      MAIZE LEAF DISEASE (COMPUTER VISION)
    </h2>

    <!-- ---------------------------------------------------------------------------------------------------- -->
    <hr />
    <div class ="container-fluid">
      <div class ="row">


        <div class ="col-md-6 col-sm-6">
          <div class="container">
            <div class="col-md-10 col-md-offset-5 border border-white">
              <div class="form-group">
                <div class="main-img-preview">
                  <img
                    class="thumbnail img-preview"
                    src="http://farm4.static.flickr.com/3316/3546531954_eef60a3d37.jpg"
                    title="Preview image"
                  />
                </div>
                <div class="input-group">
                  <input
                    id="fakeUploadLogo"
                    class="form-control fake-shadow"
                    placeholder="Choose File"
                    disabled="disabled"
                  />
                  <div class="input-group-btn">
                    <div class="fileUpload btn btn-danger fake-shadow">
                      <span
                        ><i class="glyphicon glyphicon-upload"></i> Upload
                        Image</span
                      >
                      <input
                        id="logo-id"
                        name="logo"
                        type="file"
                        class="attachment_upload"
                      />
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>

        <div class ="col-md-6 col-sm-6">
          <div class="col-10">
            <div class="col col-sm-6 border border-white">
              <h5>Class: {{class}}</h5>
              <h5>Score: {{score}}</h5>
            </div>
         </div>
      </div>
    </div>

    <!-- <script src="{{url_for('static', filename='main.js')}}"></script> -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>

    {% endblock %}
  </div>
</div>


